<section class="grid-container">
  <div class="grid-x">
    <!--menu footer-->
    <div class="cell medium-6">
      <nav>
        <ul class="menu">
          <li><a href="#"{{#ifpage ‘home.html’}} class="active"{{/ifpage}}>Home</a></li>
          <li><a href="#">Mentions Légales</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
    <!--reseaux sociaux-->
    <div class="cell medium-6">
      <ul class="menu" style="border: 1px solid red">
        <li><a href="#">TW</a></li>
        <li><a href="#">FB</a></li>
        <li><a href="#">IG</a></li>
      </ul>
    </div>
  </div>
